/* Cette page est la page utilisée pour la page qui affiche un seul modèles */
.division1{
    width: 50%;
    margin-left: 7%;
    text-align: center;
}
.division2{
    width:23%;
    text-align: center;
}
.division3{
    width:20%;
    text-align: center;
}
.division1, .division2, .division3{
    float: left;
    margin-top: 60px;
}