.nosmodels{
    color: #CD2929;
    text-shadow: 0 0 2px whitesmoke;
    font-family:  'Josefin Sans';
    font-size: 30px;
    text-decoration: underline;
    font-weight: 700;
    margin-top : 20px;  
    margin-bottom: 40px;
    margin-left : 80px;
}

  
  .previews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .preview {
    width: 270px;
    margin-bottom: 30px;
  }
  .details {
    display: flex;
}
  .title{
    display: flex;
    flex-direction: column;
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .title ,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
  }
  .thumbnail {
    width: 100%;
    height: 170px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
  }
  .img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }