/* Cette page est la page utilisée pour la page qui affiche un seul modèles */
.d-flex{
    display: flex;
    justify-content: center;
}
.division1{
    width: 52%;
    margin-left: 5%;
    text-align: center;
}
.division2{
    width:23%;
    text-align: center;
}
.division3{
    width:20%;
    text-align: center;
}
.division1, .division2, .division3{
    float: left;
    margin-top: 60px;
}
.showcase{
    width: 95%;
    height: 700px; 
    border-bottom: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
}
.details{
    height :35px;
    font-size: 18px;
    width:95%;
    padding-left: 30px;
    padding-bottom: 60px;
    text-align: left;
    background-color: whitesmoke ;
}
.titre1{

}
.type{
    font-size: 16px;
    opacity: 80%;
}
.details-division1{
    width: 22%;
    margin-left: 5%;
    text-align: center;
}
.details-division2{
    width:45%;
    text-align: center;
}
.details-division3{
    width:23%;
    text-align: center;
}
.details-division1, .details-division2, .details-division3{
    float: left;
}