/* Cette page est la page utilisée pour la page qui affiche un seul modèles */
.division1{
    width: 50%;
    margin-left: 10%;
    text-align: center;
}
.division2{
    width:20%;
    text-align: center;
}
.division3{
    width:15%;
    text-align: center;
}