/* Cette page est la page utilisée pour la page qui affiche un seul modèles */
.d-flex{
    display: flex;
    justify-content: center;
}
.division1{
    width: 49%;
    margin-left: 5%;
    text-align: center;
}
.division2{
    margin-right:3px;
    width:23%;
    text-align: center;
}
.division3{
    width:20%;
    text-align: center;
}
.division1, .division2, .division3{
    float: left;
    margin-top: 60px;
}
.showcase{
    width: 95%;
    height: 700px; 
    border-bottom: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
}
.details{
    height :35px;
    font-size: 18px;
    width:95%;
    padding-left: 30px;
    padding-bottom: 60px;
    text-align: left;
    background-color: whitesmoke ;
}
.type{
    font-size: 16px;
    opacity: 80%;
}
.details-division1{
    width: 22%;
    margin-left: 5%;
    text-align: center;
}
.details-division2{
    width:45%;
    text-align: center;
}
.details-division3{
    width:23%;
    text-align: center;
}
.details-division1, .details-division2, .details-division3{
    float: left;
}
.zoneform{
    text-align: left;
    margin-left:20%;
}
.description{
    background-color: gray;
    color: white;
    font-size: 17px;
    width: 95%;
    padding-left: 30px;
    padding-bottom: 60px;
    text-align: left;
}
.division-prev-1, .division-prev-2, .division-prev-3{
    float: left;
    height: 80vh;
    margin-top: 2%;
}
.division-prev-1{
    width: 40%;
    margin-left: 2.5%;
}
.division-prev-2, .division-prev-3{
    width: 25%;
    margin-left: 2.5%;
}
.temp_preview{
    width: 95%;
    height: 70%;
    margin-left: 2.5%;
    margin-top: 3%;
}
.rowmodifsave{
    width: 95%;
    margin-top: 40px;
    height: 15%;
}
.save{
    width: 45%;
    float: left;
    margin-left :5%;
    height: 100%;
}
.modify{
    width: 45%;
    float: left;
    margin-left: 5%;
    height: 100%;
}
.modify, .save,.htmlcodetitle, .htmlcopybutton,  .temp_preview, .division-prev-1, .division-prev-2, .division-prev-3{
    border: solid 2px gray;
}
.division2row1{
    height: 15%;
}
.division2row2{
    overflow: auto;
}
.division3row1{
    height: 15%;
}
.division3row2{
    overflow: auto;
}
.htmlcopybutton{
    float: left;
    width:30%;
    height : 100%;
}
.htmlcodetitle{
    float: left;
    text-align: center;
    width:70%;
    height : 100%;
}
.csscopybutton{
    float: left;
    width:30%;
    height : 100%;
}
.csscodetitle{
    float: left;
    text-align: center;
    width:70%;
    height : 100%;
}